body{
    padding: 0px;
    margin: 0px;
    background-color: #000;
}
div.main{
    width: 100%;
    height: 100%;
    position: absolute;
}
.cave_1{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 50%;

}
.bottom_stone{
    position: absolute;
    width: 100%;
    bottom: 0px;
    max-height: 53%;

}

.top_panel{
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    top:0px;


}
.bottom_panel{
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 50px);
    height: 40%;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.miner_list{
    width: call(100%- 20px);
    height: 60px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;

}